.modal, .back-modal {
    display: none;
}
.modal:target, .modal:target + .back-modal {
    display: block;
}
.modal {
    -webkit-animation: example 0.5s;
            animation: example 0.5s;
    position: relative;
    margin: auto;
}
.modal:target {
    background: #fff;
    padding: 15px;
    width: 50%;
    z-index: 2;
}
.back-modal {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;       
}
@-webkit-keyframes example {
  from {top: -100px; opacity: 0;}
  to {top: 0px; opacity: 1;}
}
@keyframes example {
  from {top: -100px; opacity: 0;}
  to {top: 0px; opacity: 1;}
}

@media (max-width: 767px) {
    .modal:target { width: 80%;}
}